
<%- include('../../partials/header') %>
<h2>Add Destination</h2>
<form id="tix-form" method="POST"
action="/tickets">
    <label >Seat No:
        <input type="text" name="seat" >
    </label>
    <label >Price:
        <input type="text" name="seat" >
    </label>
    <label >Flight:
        <input type="text" name="seat" >
    </label>
    <input type="submit" value="Add Ticket">
</form>
<%- include('../../partials/footer') %>