<!DOCTYPE html>
<html>
  <head>
    <title>Anami Air</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="bg"></div>
      <div class="bg bg2"></div>
      <div class="bg bg3"></div>
    <p>Welcome to</p>
    <h1>Anami Air</h1>
    <a href="flights/">View Flights</a>
  </body>
</html>
