<!-- path: GET /flights/index.js-->  
<!-- flights => array of flight objects -->

<%- include('../../partials/header') %>
    <h1>FLIGHTS</h1>
    <ul>
        <li><%= flights[11].airline %></li>
        
    </ul>
<%- include('../../partials/footer') %>

