<!-- path: GET /flights/index.js-->  
<!-- flights => array of flight objects -->

<%- include('../../partials/header') %>
    <h1>FLIGHTS</h1>
    <ul>
        <li><%= flightsArr[3] %></li>
    </ul>
<%- include('../../partials/footer') %>

