<!-- POST /posts -->

<%- include('../../partials/header') %>
    <h1>Add Flight</h1>
    <form method="POST" action="/tickets %>">
        <label >Airline:
            <input type="text" name='airline'>
        </label>
        <label >Flight No: 
            <input type="text" name='flightNo'>
        </label>
        <label>Airport:</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
        </select>
        <label >Departure Date/Time:
                <input 
                type="datetime-local"
                name="departs" value="2018-06-12T19:30"
                >
         </label>
        <button type="submit">Submit</button>
    </form>
    <a href="/flights">All Flights</a>
<%- include('../../partials/footer') %>

