<!-- POST /posts -->

<%- include('../../partials/header') %>
    <h1>Add Flight</h1>
    <form method="POST" action="/flights %>">
        <label >Airline:
            <input type="text" name='airline'>
        </label>
        <label >Flight No: 
            <input type="text" name='flightNo'>
        </label>
        <label >Departure Date/Time:
                <input 
                type="datetime-local"
                name="departs" value="2018-06-12T19:30"
                >
         </label>
        <button type="submit">Submit</button>
    </form>
    
    <h2>Reviews</h2>
    <form id="destination-form" method="POST"
    action="/flights/<%= flight._id %>/destination">
    <label>Destination:</label>
    <textarea name="airport"></textarea>
    <label>Airport:</label>
    <select name="rating">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA">SEA</option>
    </select>
    <label >Arrival Date/Time:
            <input 
            type="datetime-local"
            name="arrival" 
            value="2018-06-12T19:30"
            >
     </label>
    <input type="submit" value="Add Destination">
</form>
<a href="/flights">All Flights</a>
<%- include('../../partials/footer') %>

