<!-- GET /posts/new -->

<%- include('../../partials/header') %>
    <h1>Add Flight</h1>
    <form method="GET" action="/flights/new">
        <label >Airline
            <input type="text" name='airline'>
        </label>
    </form>
<%- include('../../partials/footer') %>

